<div class="contact__wrapper">
  <div class="contact__wrapper__image"></div>
  <div class="contact__wrapper__right">
    <div class="contact__text">
        <h1>hello</h1>
      <div class="contact__text__body">
        <p>
          my name is <strong>Rodney Mupanduki</strong> <br />
          and I am currently watching <br />
          a series called <strong>Quantico</strong>
        </p>
        <p>
          You can reach me on <br />
          <strong>tel :</strong> <a href="tel:+263713257355">+263713257355</a>
          <br />
          <strong>email :</strong>
          <a href="mailto:rodneymupanduki@gmail.com"
            >rodneymupanduki@gmail.com</a
          >
        </p>

        <p>share :
            <a href="https://www.facebook.com/anesu.rodney.1" target="_blank">
                <i class="fa-brands fa-facebook-f fa-lg"></i>
            </a>
            &nbsp;&nbsp;
            <a href="https://www.twitter.com/rodney_263" target="_blank">
                <i class="fa-brands fa-twitter fa-lg"></i>
            </a>
            &nbsp;&nbsp;
            <a href="mailto://rodneymupanduki@gmail.com" target="_blank">
                <i class="fa-brands fa-google-plus-g fa-lg"></i>
            </a>
        </p>
      </div>
    </div>
  </div>
</div>
