<nav>
  <div class="navbar">
    <div class="navbar__logo">
      <img src="assets/aglet_logo.svg" alt="" />
    </div>
  
    <div class="navbar__menu__button">
        <i (click)="isOpen = !isOpen" class="mobile fa-solid  fa-xl" [ngClass]="isOpen ? 'fa-xmark' : 'fa-bars'"></i>
      
    </div>

    <div 
    class="desktop__links">
    <a *ngFor="let menuItem of menu" [ngClass]="currentRoute === menuItem.url ? 'active' : ''" [routerLink]="menuItem.url">{{menuItem.name}}</a>
  </div>
  </div>

  <div 
    class="mobile__links" [ngClass]="isOpen ? '' : 'none'">
    <a *ngFor="let menuItem of menu" [routerLink]="menuItem.url">{{menuItem.name}}</a>
  </div>
</nav>
