$breakpoint: 900px;

// Resetting

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

a{
  color: #ffffff;
}

// line below ensures that the footer will always stay at the bottom of the page even if the rest of the content doesnt cover the full page
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .app-body {
    flex: 1;
  }
}

nav{
  padding: 1rem;
  width: 100%;

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    &__logo{
      img{
        height: 25px;
      }
    }
  }

  .navbar__menu__button{
    @media (min-width: $breakpoint) {
      display: none;
    }

    label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      cursor: pointer;

      span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
    }
  }

  .mobile__links{
    @media (min-width: $breakpoint) {
      display: none;
    }

    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 3rem;
    transition: all 2000ms ease-in-out;

    a{
      font-size: 3rem;
    }
  }

  .desktop__links{
    display: flex;
    align-items: center;
    gap: 2rem;
    a{
      font-size: 1.4rem;
      font-weight: 800;
      border-width: 0%;
      transition: all ease-in 500ms;
      border-bottom: 2px solid transparent;

      &:hover {
        border-width: 5px;
        border-bottom-color: #fff;
      }

      &.active{
        border-width: 5px;
        border-bottom-color: #fff;
      }
    }
    @media (max-width: $breakpoint) {
      display: none;
    }
  }
}




::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}

.slide {
  display: flex;
  overflow-x: scroll;

  &__item {
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 0;
    list-style: none;

    &__title {
      font-weight: 800;
    }

    &__subtitle {
      font-weight: 100;
      color: #2c2c2c;
    }
  }


  @media (max-width: $breakpoint) {
    flex-direction: column;

    &__item {
      height: 55vh;
      width: 100%;

      &__content{
        position: relative;
      }

      video{
        object-fit: cover;
        width: 100%;
      }
  
      &__description {
        position: absolute;
        top: 50%;
        left: 2rem;
      }
      &__title {
        font-size: 3rem;
      }
  
      &__subtitle {
        font-weight: 400;
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}

.scrollbar {
  margin: 3rem auto;
  width: 300px;
  height: 1px;
  border: 0;
  background-color: #2c2c2c;

  .thumb {
    width: 50%;
    height: 100%;
    background-color: #fff;
  }

  @media (max-width: $breakpoint) {
    display: none;
  }
}

.footer {
  padding: 1rem;
  font-size: 0.9rem;
  color: #8a8a8a;
  display: flex;
  justify-content: space-between;

  a {
    color: #8a8a8a;
    text-decoration: none;
  }
}



.contact__wrapper{
    display: flex;
    min-height: 100vh;
    padding: 0 3rem;
    position: relative;

    &__image{
      // background: url('assets/contact-image.jpg');
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // height: 100%;
      width: 45vw;
      background: url('assets/contact-image.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__right{
      flex: 1;
    }

    .contact__text{
      

      h1{
        font-weight: 800;
        font-size: 7rem;
        color: #202020;
        margin-top: 2rem;
        margin-left: -135px;
      }

      &__body{
        padding: 0 3rem 0;       

        p{
          color: #ccc;
          margin-top: 1.3rem;
        }
        
        a{
          color: #979797;
        }
      }
    }
}