<div class="footer">
    <div>
        All rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://twitter.com/rodney_263">Impressum</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/privacy-policy">Datenschutz</a>&nbsp; |&nbsp; <a href="https://antoni.de/allgemeine-geschaeftsbedingungen/">AGB</a>&nbsp; |&nbsp; <a href="https://antoni.de/code-of-conduct/">Code of Conduct</a>&nbsp; | <a href="https://antoni.de/hinweisgeberschutzgesetz/">Hinweisgeberschutzgesetz</a>
    </div>
    <div>
        Join us on&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/https://instagram.com/rodney.zw">Impressum</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://linkedin.com/in/rodney-zw">LinkedIn</a>
    </div>
</div>